<div class="text-center">
  <h2>{{post_title}}</h2>
  {{!-- <p>{{{get_emoji}}}</p> --}}
  {{!-- <p>{{description}}</p> --}}
  <p>Created by {{user.email}} on {{created_at}}</p>

  <p>
    {{post_content}}
  </p>
</div>
